rsc-RpkiSignedChecklist-2021.dtd

<!-- XML DTD generated by asn1c-0.9.29 -->

<!-- ASN.1 module
RpkiSignedChecklist-2021 { iso(1) member-body(2) us(840) rsadsi(113549)
	pkcs(1) pkcs9(9) smime(16) mod(0) 49 }
found in ../rsc-RpkiSignedChecklist-2021.asn1 -->

<!ELEMENT RpkiSignedChecklist (version?, resources, digestAlgorithm, checkList)>
    <!ELEMENT version (#PCDATA)>
    <!ELEMENT resources (asID?, ipAddrBlocks?)>
    <!ELEMENT digestAlgorithm (algorithm, parameters?)>
    <!ELEMENT checkList (FileAndHash*)>
<!ELEMENT FileAndHash (file?, hash)>
    <!ELEMENT file ANY>
    <!ELEMENT hash (#PCDATA)>
<!ELEMENT ResourceBlock (asID?, ipAddrBlocks?)>
    <!ELEMENT asID (ASIdOrRange*)>
    <!ELEMENT ipAddrBlocks (IPAddressFamily*)>
<!ELEMENT AsList (ASIdOrRange*)>
<!ELEMENT ASIdOrRange (id|range)>
    <!ELEMENT id (#PCDATA)>
    <!ELEMENT range (min, max)>
<!ELEMENT ASId (#PCDATA)>
<!ELEMENT ASRange (min, max)>
    <!ELEMENT min (#PCDATA)>
    <!ELEMENT max (#PCDATA)>
<!ELEMENT IPList (IPAddressFamily*)>
<!ELEMENT IPAddressFamily (addressFamily, addressesOrRanges)>
    <!ELEMENT addressFamily (#PCDATA)>
    <!ELEMENT addressesOrRanges (IPAddressOrRange*)>
<!ELEMENT IPAddressOrRange (addressPrefix|addressRange)>
    <!ELEMENT addressPrefix (#PCDATA)>
    <!ELEMENT addressRange (min, max)>
<!ELEMENT IPAddressRange (min, max)>
    <!ELEMENT min (#PCDATA)>
    <!ELEMENT max (#PCDATA)>
<!ELEMENT IPAddress (#PCDATA)>
<!ELEMENT AlgorithmIdentifier (algorithm, parameters?)>
    <!ELEMENT algorithm (#PCDATA)>
    <!ELEMENT parameters ANY>
